{% extends 'auth/base.html' %}

{% block content %}
<div class="d-table-cell align-middle">

    <div class="text-center mt-4">
        <h1 class="h2">Cadastro do auxiliar</h1>
        <p class="lead">Preencha o formulário abaixo para continuar</p>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="m-sm-4">
                <form action="/signup" method="post">
                    <div class="mb-3">
                        <label class="form-label">Usuário</label>
                        <input class="form-control form-control-lg" type="text" name="username"
                            placeholder="Entre com o seu usuário" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input class="form-control form-control-lg" type="password"
                            name="password" placeholder="Entre com uma senha" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirmar senha</label>
                        <input class="form-control form-control-lg" type="password"
                            placeholder="Confirme a senha" required />
                    </div>
                    <div class="text-center mt-3">
                        <input type="submit" class="btn btn-lg btn-primary" value="Cadastrar">
                    </div>
                </form>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="/signin" class="btn btn-lg btn-link">Voltar</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
