<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Thiago Assis" content="2022">

    <title>Clínica</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/light.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/alert.css') }}" rel="stylesheet">

</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            {% include '_partials/sidebar.html' %}
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                {% include '_partials/navbar.html' %}
            </nav>

            <main class="content">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
